
/* ======================================= */
/* CSS for control sap.m/FeedInput.control */
/* ======================================= */

.sapMFeedIn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sapMFeedIn .sapMTextArea {
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
}

/* IE9 graceful degradation as remedy for missing flex box */
html[data-sap-ui-browser="ie9"] .sapMFeedIn .sapMTextArea {
	width: 65%;
}