/* ===================================================== */
/* CSS for control sap.ui.layout/form/FormLayout.control */
/* Blue Crystal                                          */
/* ===================================================== */

@sapUiFormTitleSize: ~"H4";
@sapUiFormSubTitleSize: ~"H2";

.sapUiFormLayout{
	font-family: @sapUiDesktopFontFamily;
	font-size: @sapUiDesktopFontSize;
}

.sapUiForm .sapUiFormTitle{
	border-bottom: 2px solid @sapUiLightBorder;
	font-family: @sapUiFontHeaderFamily;
	font-weight: @sapUiFontHeaderWeight;
	color: @sapUiHeaderText;
}

.sapUiFormTitle.sapUiFormTitleEmph{
	border-color: @sapUiLightBorder;
}