/* ====================================================== */
/* CSS for control sap.ui.layout/form/GridLayout.control  */
/* ====================================================== */

/*.sapUiGrid{

}*/

.sapUiGrid td{
	vertical-align: top;
	overflow: hidden;
}

.sapUiGrid td.sapUiGridHeader{
	vertical-align: bottom;
}


.sapUiGrid th > .sapUiFormTitle,
.sapUiGrid td > .sapUiFormTitle{
	text-align: start;
/*	border-bottom: 2px solid @sapUiHighlight;*/
	position: relative;
}

/*
.sapUiGrid td[colspan="8"] > .sapUiFormTitle{
	border-color: @sapUiMediumBorder;
}
*/

.sapUiGridHeader > .sapUiFormTitle > button{
	position: absolute;
	bottom: 0;
	right: 0;
}