.sapMList .sapMLIB.sapMGHLI {
	height: 2rem;
	line-height: 2rem;
	font-size: 0.875rem;
	color: @sapUiStandardText;
	background: @sapUiGroupHeaderBG;
	border-bottom: 1px solid @sapUiLightBorder;
}

.sapMGHLICell {
	padding: 0 1rem;
}

/********** COMPACT DESIGN ************/
.sapUiSizeCompact .sapMLIB.sapMGHLI {
	background: lighten(@sapUiLightBG, 7);
}