/* ============================================= */
/* CSS for control sap.m/Token.control BlueCrystal theme*/
/* ============================================= */

.sapMTokenSelected .sapMTokenIcon{
	color: @sapUiInvertedElement;		
}

.sapMTokenIcon{	
	padding-top: 3px;
	padding-left: 0.25rem;
	float: right;
	font-size: @sapMFontSmallSize;	
	color: @sapUiElement;
}